@import "@superflycss/variables-layout";

:root {
  --TestBox-padding: 1rem;
  --TestBox-border-style: solid;
  --TestBox-border-width: medium;
  --TestBox-border-color: currentColor;
  --TestBox-background-color: inherit;
  --TestBox {
    padding: var(--TestBox-padding);
    border-style: var(--TestBox-border-style);
    border-width: var(--TestBox-border-width);
    border-color: var(--TestBox-border-color);    
    background-color: var(--TestBox-background-color);    
  }
}

.TestBox {
    @apply(--TestBox);
}
  
.TestBoxLeft {
  @apply(--TestBox);
  @apply(--u-border-right-width-0px);
}
  
.TestBoxTop {
  @apply(--TestBox);
  @apply(--u-border-bottom-width-0px);
}
