/** @define Test */

/*! superflycss/component-test | MIT License | https://github.com/superflycss/component-test/blob/master/LICENSE.md */

@import "@superflycss/variables-fonts";
@import "@superflycss/variables-layout";
@import "@superflycss/variables-dimension";

:root {
  --TestContainer-margin-left: 0rem;
  --TestContainer-margin-top: 0rem;
  --TestContainer-margin-bottom: 1rem;
  --TestContainer-padding: 2rem;
  --TestContainer-text-color: inherit;  
  --TestContainer-background-color: inherit;

  --TestContainer {
    margin-left: var(--TestContainer-margin-left);
    margin-top: var(--TestContainer-margin-top);
    margin-bottom: var(--TestContainer-margin-bottom);
    padding: var(--TestContainer-padding);
    color: var(--TestContainer-text-color);
    background-color: var(--TestContainer-background-color);
  }
}

.TestContainer {
  @apply(--TestContainer);
  @apply(--u-flex);
  @apply(--u-flex-column);
  @apply(--u-flex-align-items-stretch);
  @apply(--u-width-100);
  @apply(--u-margin-top-2rem);
  @apply(--u-padding-top-1rem);
}

@media (--lg-viewport) {
  .TestContainer {
    @apply(--u-flex-align-items-stretch);
    @apply(--u-flex-justify-start);
    @apply(--u-flex-row);    
  }
}

.TestContainer--column {
  @apply(--TestContainer);
  @apply(--u-flex);
  @apply(--u-flex-column);
  @apply(--u-flex-align-items-stretch);
  @apply(--u-width-100);
  @apply(--u-margin-top-2rem);
  @apply(--u-padding-top-1rem);
}
