@import "@superflycss/variables-fonts";
@import "@superflycss/variables-layout";

:root {
  --Test_counter-text-color: inherit;
}

.TestCounter {
  @apply(--u-top-left);
  @apply(--u-margin-top-1rem);
  @apply(--u-margin-left-2rem);
  @apply(--u-zindex-modal);
  @apply(--u-font-weight-500);
  @apply(--u-font-size-800);
  @apply(--u-margin-left-2rem);
  color: var(--Test_counter-text-color);
}

.TestCounter::before {
  content: "∡\00a0" counter(test-counter);
  counter-increment: test-counter;
}
