/** @define Test */

/*! superflycss/component-test | MIT License | https://github.com/superflycss/component-test/blob/master/LICENSE.md */

@import "@superflycss/variables-fonts";
@import "@superflycss/variables-layout";
:root {
  --Test-background-color: inherit;
  --Test-text-color: inherit;
  --Test_when-background-color: inherit;
  --Test_when-text-color: inherit;
  --Test_then-background-color: inherit;
  --Test_then-text-color: inherit;
  --Test_then-background-color: inherit;
  --Test_then-text-color: inherit;
  --Test_container-background-color: inherit;
  --Test_container-margin-left: 2rem;
  --Test_container-text-color: inherit;
  --Test_component-text-color: inherit;
  --Test_input-width: 40rem;
  --Test_input-margin-right: 5rem;
  --Test_input-overflow: auto;
  --Test_output-overflow: auto;
  --Test_utilities-text-color: inherit;
  --Test_counter-text-color: inherit;
}

.Test {
  @apply(--u-flex);
  @apply(--u-flex-column);
  @apply(--u-width-100);
  @apply(--u-position-relative);
  color: var(--Test-text-color);
  background-color: var(--Test-background-color);
}

.Test_when {
  @apply(--u-font-size-800);
  @apply(--u-font-weight-500);
  color: var(--Test_when-text-color);
  background-color: var(--Test_when-background-color);
}

.Test_then {
  @apply(--u-font-size-800);
  @apply(--u-font-weight-500);
  color: var(--Test_then-text-color);
  background-color: var(--Test_then-background-color);
}

.Test_when::before {
  content: 'When';
}

.Test_then::before {
  content: 'Then';
}

.Test_input {
  @apply(--u-flex);
  @apply(--u-flex-column);
  width: var(--Test_input-width);
  overflow: var(--Test_input-overflow);
  margin-right: var(--Test_input-margin-right);
  overflow-y: hidden;
}

.Test_output {
  @apply(--u-flex);
  @apply(--u-flex-column);
  @apply(--u-width-30rem);
  overflow: var(--Test_output-overflow);
  overflow-y: hidden;
}

.Test_container {
  @apply(--u-flex);
  @apply(--u-flex-column);
  @apply(--u-flex-align-items-center);
  @apply(--u-width-100);
  @apply(--u-padding-top-1rem);
  @apply(--u-margin-top-6rem);
  margin-left: var(--Test_container-margin-left);
  color: var(--Test_container-text-color);
  background-color: var(--Test_container-background-color);
}

.Test_component {
  @apply(--u-top-left);
  @apply(--u-font-size-800);
  @apply(--u-zindex-modal);
  @apply(--u-margin-top-1rem);
  @apply(--u-margin-left-14rem);
  color: var(--Test_component-text-color);
}

.Test_component::before {
  content: "⋐\00a0";
}

.Test_utilities {
  @apply(--u-top-left);
  @apply(--u-font-size-800);
  @apply(--u-zindex-modal);
  @apply(--u-margin-top-1rem);
  @apply(--u-margin-left-14rem);
  color: var(--Test_utilities-text-color);
}

.Test_utilities::before {
  content: "⋓\00a0";
}

.Test_counter {
  @apply(--u-top-left);
  @apply(--u-margin-top-1rem);
  @apply(--u-margin-left-2rem);
  @apply(--u-zindex-modal);
  @apply(--u-font-weight-500);
  @apply(--u-font-size-800);
  @apply(--u-margin-left-2rem);
  color: var(Test_counter-text-color);
}

.Test_counter::before {
  content: "∡\00a0" counter(test-counter);
  counter-increment: test-counter;
  color: var(--Test_counter-text-color);
}
