@import "@superflycss/variables-fonts";
@import "@superflycss/variables-layout";

:root {
  --TestUtilities-text-color: inherit;
}

.TestUtilities {
  @apply(--u-top-left);
  @apply(--u-font-size-800);
  @apply(--u-zindex-modal);
  @apply(--u-margin-top-1rem);
  @apply(--u-margin-left-14rem);
  color: var(--TestUtilities-text-color);
}

.TestUtilities::before {
  content: "⋓\00a0";
}